[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "meta/plugins/dotbot-sudo"]
	path = meta/plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "meta/plugins/dotbot-ed"]
	path = meta/plugins/dotbot-ed
	url = https://github.com/wonderbeyond/dotbot-ed.git
