@import "frappe.css";

* {
    color: @text;
    font-family: JetBrainsMono;
    font-size: 14px;
    border: none;
}

window#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

/* Workspace styles */

#workspaces button {
    color: inherit;
    min-width: 5px;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-color: @mauve;
}

#workspaces button.urgent {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 4px;
}

#workspaces button:hover {
   background: alpha(@mauve, 0.5);
   border-radius: 4px;
}

@keyframes blink {
    to {
        color: @font;
        background-color: alpha(@yellow, 0.2);
    }
}

/* Individual module style */

#custom-profiles,
#upower,
#language, 
#clock, 
#custom-weather,
#custom-playerctl,
#custom-vnc,
#battery,
#cpu, 
#memory, 
#idle_inhibitor, 
#temperature,
#backlight,
#network,
#tray,
#pulseaudio,
#custom-notification,
#mode {
    padding:  0px 10px 0px 10px;
}

#network.disabled {
}

#mode {
    margin-bottom:0px;
    background-color: @overlay0;
}

#upower.charging
 {
    border-bottom: 2px solid @green;
}

tooltip {
    background-color: shade(@base, 0.9);
    border: 1px solid alpha(@crust, 0.3);
    border-radius: 10px;
    padding: 4px;
}
